In [324]:
import panchanga as panchanga
import datetime as datetime
import json
from indic_transliteration import sanscript
from indic_transliteration.sanscript import SchemeMap, SCHEMES, transliterate
from vimsottari import vimsottari_mahadasa, compute_antara_from, vimsottari_bhukti
import pytz
import math

In [325]:
fnames = open('names_locale_te.json','rt')
json_names = json.load(fnames)

In [326]:
date_format = '%Y-%m-%d %H:%M:%S %Z%z'
tzone_out = pytz.timezone('America/Edmonton')

place = panchanga.Place(51.0300, -114.0507, -6.0)
date = datetime.datetime.now()
# date = date.astimezone(tzone_out)
print('Current UTC: ',date)
jd = panchanga.gregorian_to_jd(date)
# jd = panchanga.swe.julday(date.year,date.month,date.day,date.hour + date.minute/60. + date.second/3600.)
# jd = panchanga.swe.julday(2020,5,7,0.0)
greg = panchanga.swe.jdut1_to_utc(jd,flag=panchanga.swe.GREG_CAL)
date_curr = datetime.datetime(*[math.floor(d) for d in greg])
date_curr_local = date_curr.astimezone(tzone_out) # local time  

print(f'Current Date: {date_curr_local.strftime(date_format)}')

Current UTC:  2020-05-07 13:56:11.432666
Current Date: 2020-05-06 18:00:00 MDT-0600

In [327]:
vaara = panchanga.vaara(jd)
# print(f'vaara: {vaara}')
print('vara:',json_names['varas'][str(vaara)])

masa = panchanga.masa(jd, place)
# print(f'masa: {masa}')
print('adhika ' if masa[1] else '','masa: ', json_names['masas'][str(masa[0])])

samvatsara = panchanga.samvatsara(jd, masa[0])
print(f'samvatsara: {json_names["samvats"][str(samvatsara)]}')

vara: గురువార
 masa:  వైశాఖ
samvatsara: శార్వరీ

In [328]:
tithi = panchanga.tithi(jd, place)
# print(f'tithi: {tithi}')
print('tithi: ',json_names['tithis'][str(tithi[0])], 'upto: ', tithi[1])
if len(tithi) > 2:
    print('tithi: ',json_names['tithis'][str(tithi[2])], 'upto: ', tithi[3])

tithi:  కృష్ణ పక్ష ప్రథమా upto:  [25, 32, 5]

In [329]:
sunrise = panchanga.sunrise(jd, place)
# print(f'sunrise: {sunrise}')
greg = panchanga.swe.jdut1_to_utc(sunrise[0],flag=panchanga.swe.GREG_CAL)
date_srise = datetime.datetime(*[math.floor(d) for d in greg])
date_srise_local = date_srise.astimezone(tzone_out) # local time  

print(f'sunrise: {date_srise_local.strftime(date_format)}, {sunrise[1]}')

sunset = panchanga.sunset(jd, place)
# print(f'sunset: {sunset}')
greg = panchanga.swe.jdut1_to_utc(sunset[0],flag=panchanga.swe.GREG_CAL)
date_sset = datetime.datetime(*[math.floor(d) for d in greg])
date_sset_local = date_sset.astimezone(tzone_out) # local time  

print(f'sunset: {date_sset_local.strftime(date_format)}, {sunset[1]}')

sunrise: 2020-05-07 00:03:48 MDT-0600, [6, 3, 48]
sunset: 2020-05-07 15:02:37 MDT-0600, [21, 2, 37]

In [334]:
moonrise = panchanga.moonrise(jd, place)
print(f'moonrise: {moonrise}')
# greg = panchanga.swe.jdut1_to_utc(moonrise[0],flag=panchanga.swe.GREG_CAL)
# date_mrise = datetime.datetime(*[math.floor(d) for d in greg])
# date_mrise_local = date_mrise.astimezone(tzone_out) # local time  

# print(f'moonrise: {date_mrise_local.strftime(date_format)}, {moonrise[1]}')

moonset = panchanga.moonset(jd, place)
print(f'moonset: {moonset}')
# greg = panchanga.swe.jdut1_to_utc(moonset[0],flag=panchanga.swe.GREG_CAL)
# date_mset = datetime.datetime(*[math.floor(d) for d in greg])
# date_mset_local = date_mset.astimezone(tzone_out) # local time  

# print(f'moonset: {date_mset_local.strftime(date_format)}, {moonset[1]}')

moonrise: [21, 51, 59]
moonset: [6, 21, 33]

In [330]:
yoga = panchanga.yoga(jd, place)
# print(f'yoga: {yoga}')
print('yoga: ',json_names['yogas'][str(yoga[0])], 'upto: ', yoga[1])
if len(yoga) > 2:
    print('yoga: ',json_names['yogas'][str(yoga[2])], 'upto: ', yoga[3])

yoga:  వారీయన upto:  [25, 25, 29]

In [331]:
nv = panchanga.navamsa(jd, place)
print(f'navamsa: {nv}')
for n in nv:
    print('%s : %s' % (json_names['planets'][str(n[0])],json_names['zodiac'][str(n[1])]))

navamsa: [[0, 6], [1, 0], [4, 6], [2, 7], [5, 9], [3, 5], [6, 11], [10, 8], [9, 2], [7, 3], [8, 1]]
సూర్య : తులా
చన్ద్ర : మేష
మఙ్గల : తులా
బుధ : వృశ్చిక
గురు : మకర
శుక్ర : కన్యా
శని : మీన
రాహు : ధనుస్
కేతు : మిథున
హర్షల : కర్కాటక
గల్ల : వృషభ

In [332]:
nakshatra = panchanga.nakshatra(jd, place)
# print(f'nakshatra: {nakshatra}')
print('nakshatra: ',json_names['nakshatras'][str(nakshatra[0])], 'upto: ', nakshatra[1])
if len(nakshatra) > 2:
    print('nakshatra: ',json_names['nakshatras'][str(nakshatra[2])], 'upto: ', nakshatra[3])

nakshatra:  విశాఖా upto:  [21, 7, 49]

In [354]:
tzone = pytz.timezone('America/Edmonton')
date_now = datetime.datetime.now()
# date = date_now.astimezone(tzone)
# date = datetime.datetime.now()
# jd = panchanga.gregorian_to_jd(date_now)
# jd = panchanga.local_time_to_jdut1(date.year,date.month,date.day,date.hour,date.minute,date.second)
# jd = panchanga.swe.julday(date.year,date.month,date.day,date.hour + date.minute/60. + date.second/3600.)

karana = panchanga.karana(jd, place)
print(f'karana: {karana}')
print(json_names['karanas'][str(karana[0])])

raasi = panchanga.raasi(jd)
print(f'raasi: {json_names["zodiac"][str(raasi)]}')

rahu_kalam = panchanga.rahu_kalam(jd, place)
print(f'rahu_kalam: {rahu_kalam}')

yamaganda_kalam = panchanga.yamaganda_kalam(jd, place)
print(f'yamaganda_kalam: {yamaganda_kalam}')

gulika_kalam = panchanga.gulika_kalam(jd, place)
print(f'gulika_kalam: {gulika_kalam}')

durmuhurtam = panchanga.durmuhurtam(jd, place)
print(f'durmuhurtam: {durmuhurtam}')

karana: [32]
కౌలవ
raasi: వృషభ
rahu_kalam: [[16, 3, 49], [14, 56, 22]]
yamaganda_kalam: [[21, 41, 2], [20, 33, 35]]
gulika_kalam: [[19, 26, 9], [18, 18, 42]]
durmuhurtam: [[18.68649024143815, 15.089481968432665], [18.086988866329193, 14.489980593323708]]

In [335]:

tzone = pytz.timezone('America/Edmonton')
date_now = datetime.datetime.now()
date_local = date_now.astimezone(tzone)
date_now_jd = panchanga.gregorian_to_jd(date_now)
print(f'Current DateTime: {date_local.strftime(date_format)}, Current DateTime UTC: {date_now.strftime(date_format)}, Julian: {date_now_jd}')

# dob in local time
tzone = pytz.timezone('Europe/Zurich')
# dob = tzone.localize(datetime.datetime(2013,12,12,15,15,0,0))  #l
tzone = pytz.timezone('Asia/Kolkata')
dob = tzone.localize(datetime.datetime(1982,8,23,3,30,0,0)) #h
# dob = tzone.localize(datetime.datetime(1983,2,17,4,25,0,0)) #j

# covert to UTC
dob_utc = dob.astimezone(pytz.utc)

# convert UTC to Julian Date number
# dob_jd = panchanga.gregorian_to_jd(dob_utc)  # excludes time data
dob_jd = panchanga.local_time_to_jdut1(dob_utc.year,dob_utc.month,dob_utc.day,dob_utc.hour,dob_utc.minute,dob_utc.second)

print(f'DOB: {dob.strftime(date_format)}, DOB UTC: {dob_utc.strftime(date_format)}, Julian: {dob_jd}')

Current DateTime: 2020-05-07 07:56:12 MDT-0600, Current DateTime UTC: 2020-05-07 13:56:12 , Julian: 2458976.5
DOB: 1982-08-23 03:30:00 IST+0530, DOB UTC: 1982-08-22 22:00:00 UTC+0000, Julian: 2445204.416672653

In [336]:
dashas = vimsottari_mahadasa(dob_jd)
for i in dashas:
    print(' ---------- ' + json_names['planets'][str(i)] + ' Dasa ---------- ')
    bhuktis = vimsottari_bhukti(i, dashas[i])
    for j in bhuktis:
        jd = bhuktis[j]

        # greg = panchanga.jd_to_gregorian(jd)  # excludes min, sec
        greg = panchanga.swe.jdut1_to_utc(jd,flag=panchanga.swe.GREG_CAL)
        # date_bhukti = datetime.datetime(greg[0],greg[1],greg[2],round(greg[3]))
        date_bhukti = datetime.datetime(*[math.floor(d) for d in greg])
        date_bhukti_local = date_bhukti.astimezone(tzone_out) # local time  

        y, m, d, h = panchanga.swe.revjul(jd) # utc time
        print('%20s:\t %04d-%02d-%02d\t%s\t%.6lf' %
                (json_names['planets'][str(j)], y, m, d, date_bhukti_local.strftime(date_format), jd))

---------- మఙ్గల Dasa ----------
               మఙ్గల:	 1981-08-04	1981-08-03 23:14:57 MDT-0600	2444820.718729
                రాహు:	 1981-12-31	1981-12-31 01:45:42 MST-0700	2444969.865076
                గురు:	 1983-01-18	1983-01-18 14:13:19 MST-0700	2445353.384255
                 శని:	 1983-12-25	1983-12-25 11:57:52 MST-0700	2445694.290191
                 బుధ:	 1985-02-02	1985-02-02 07:47:01 MST-0700	2446099.115990
                కేతు:	 1986-01-30	1986-01-30 12:53:06 MST-0700	2446461.328548
               శుక్ర:	 1986-06-28	1986-06-28 17:23:50 MDT-0600	2446610.474895
               సూర్య:	 1987-08-29	1987-08-28 20:34:32 MDT-0600	2447036.607315
              చన్ద్ర:	 1988-01-03	1988-01-03 15:43:44 MST-0700	2447164.447042
 ---------- రాహు Dasa ----------
                రాహు:	 1988-08-04	1988-08-03 18:19:04 MDT-0600	2447377.513252
                గురు:	 1991-04-17	1991-04-16 22:55:48 MDT-0600	2448363.705425
                 శని:	 1993-09-09	1993-09-09 13:41:47 MDT-0600	2449240.320690
                 బుధ:	 1996-07-16	1996-07-16 13:13:53 MDT-0600	2450281.301317
                కేతు:	 1999-02-03	1999-02-02 21:55:14 MST-0700	2451212.705036
               శుక్ర:	 2000-02-21	2000-02-21 10:22:51 MST-0700	2451596.224215
               సూర్య:	 2003-02-21	2003-02-21 04:50:21 MST-0700	2452691.993296
              చన్ద్ర:	 2004-01-16	2004-01-15 22:22:35 MST-0700	2453020.724020
               మఙ్గల:	 2005-07-17	2005-07-16 20:36:20 MDT-0600	2453568.608561
 ---------- గురు Dasa ----------
                గురు:	 2006-08-04	2006-08-04 09:03:56 MDT-0600	2453952.127739
                 శని:	 2008-09-21	2008-09-21 14:11:29 MDT-0600	2454731.341308
                 బుధ:	 2011-04-05	2011-04-04 21:46:41 MDT-0600	2455656.657421
                కేతు:	 2013-07-11	2013-07-10 19:43:26 MDT-0600	2456484.571838
               శుక్ర:	 2014-06-16	2014-06-16 17:27:59 MDT-0600	2456825.477775
               సూర్య:	 2017-02-14	2017-02-14 16:52:24 MST-0700	2457799.494736
              చన్ద్ర:	 2017-12-04	2017-12-03 21:47:44 MST-0700	2458091.699824
               మఙ్గల:	 2019-04-05	2019-04-04 22:59:57 MDT-0600	2458578.708305
                రాహు:	 2020-03-11	2020-03-10 20:44:30 MDT-0600	2458919.614241
 ---------- శని Dasa ----------
                 శని:	 2022-08-04	2022-08-04 11:30:29 MDT-0600	2459796.229506
                 బుధ:	 2025-08-07	2025-08-07 07:01:02 MDT-0600	2460895.042390
                కేతు:	 2028-04-16	2028-04-16 10:34:41 MDT-0600	2461878.190760
               శుక్ర:	 2029-05-26	2029-05-26 06:23:50 MDT-0600	2462283.016560
               సూర్య:	 2032-07-26	2032-07-25 21:52:50 MDT-0600	2463439.661701
              చన్ద్ర:	 2033-07-08	2033-07-07 21:43:33 MDT-0600	2463786.655244
               మఙ్గల:	 2035-02-06	2035-02-06 04:28:03 MST-0700	2464364.977814
                రాహు:	 2036-03-17	2036-03-17 01:17:12 MDT-0600	2464769.803614
                గురు:	 2039-01-22	2039-01-21 23:49:18 MST-0700	2465810.784241
 ---------- బుధ Dasa ----------
                 బుధ:	 2041-08-04	2041-08-04 07:24:30 MST-0700	2466736.100354
                కేతు:	 2044-01-01	2043-12-31 23:13:34 MST-0700	2467615.759422
               శుక్ర:	 2044-12-28	2044-12-28 04:19:39 MST-0700	2467977.971979
               సూర్య:	 2047-10-29	2047-10-29 01:45:36 MST-0700	2469012.865001
              చన్ద్ర:	 2048-09-03	2048-09-03 12:59:23 MST-0700	2469323.332907
               మఙ్గల:	 2050-02-03	2050-02-02 23:42:21 MST-0700	2469840.779418
                రాహు:	 2051-01-31	2051-01-31 04:48:26 MST-0700	2470202.991975
                గురు:	 2053-08-19	2053-08-19 14:29:47 MST-0700	2471134.395694
                 శని:	 2055-11-25	2055-11-25 12:26:33 MST-0700	2471962.310111
 ---------- కేతు Dasa ----------
                కేతు:	 2058-08-04	2058-08-04 16:00:12 MST-0700	2472945.458481
               శుక్ర:	 2059-01-01	2058-12-31 19:30:57 MST-0700	2473094.604828
               సూర్య:	 2060-03-02	2060-03-01 22:41:38 MST-0700	2473520.737249
              చన్ద్ర:	 2060-07-08	2060-07-07 18:50:50 MST-0700	2473648.576975
               మఙ్గల:	 2061-02-06	2061-02-05 20:26:11 MST-0700	2473861.643185
                రాహు:	 2061-07-05	2061-07-04 23:56:55 MST-0700	2474010.789532
                గురు:	 2062-07-23	2062-07-23 12:24:32 MST-0700	2474394.308711
                 శని:	 2063-06-29	2063-06-29 10:09:05 MST-0700	2474735.214647
                 బుధ:	 2064-08-07	2064-08-07 05:58:14 MST-0700	2475140.040447
 ---------- శుక్ర Dasa ----------
               శుక్ర:	 2065-08-04	2065-08-04 11:04:19 MST-0700	2475502.253004
               సూర్య:	 2068-12-04	2068-12-03 23:34:51 MST-0700	2476719.774205
              చన్ద్ర:	 2069-12-04	2069-12-04 05:44:00 MST-0700	2477085.030566
               మఙ్గల:	 2071-08-05	2071-08-04 23:59:16 MST-0700	2477693.791166
                రాహు:	 2072-10-04	2072-10-04 03:09:57 MST-0700	2478119.923587
                గురు:	 2075-10-05	2075-10-04 21:37:26 MST-0700	2479215.692668
                 శని:	 2078-06-05	2078-06-04 22:01:51 MST-0700	2480189.709629
                 బుధ:	 2081-08-04	2081-08-04 13:30:52 MST-0700	2481346.354771
                కేతు:	 2084-06-04	2084-06-04 10:56:49 MST-0700	2482381.247792
 ---------- సూర్య Dasa ----------
               సూర్య:	 2085-08-04	2085-08-04 14:07:30 MST-0700	2482807.380212
              చన్ద్ర:	 2085-11-22	2085-11-22 03:58:15 MST-0700	2482916.957120
               మఙ్గల:	 2086-05-24	2086-05-23 19:02:49 MST-0700	2483099.585301
                రాహు:	 2086-09-28	2086-09-28 15:12:02 MST-0700	2483227.425027
                గురు:	 2087-08-23	2087-08-23 08:44:16 MST-0700	2483556.155751
                 శని:	 2088-06-10	2088-06-10 13:39:36 MST-0700	2483848.360840
                 బుధ:	 2089-05-23	2089-05-23 13:30:18 MST-0700	2484195.354382
                కేతు:	 2090-03-30	2090-03-30 00:44:05 MST-0700	2484505.822288
               శుక్ర:	 2090-08-05	2090-08-04 20:53:18 MST-0700	2484633.662014
 ---------- చన్ద్ర Dasa ----------
              చన్ద్ర:	 2091-08-05	2091-08-05 03:02:27 MST-0700	2484998.918375
               మఙ్గల:	 2092-06-04	2092-06-04 12:10:05 MST-0700	2485303.298675
                రాహు:	 2093-01-03	2093-01-03 13:45:26 MST-0700	2485516.364885
                గురు:	 2094-07-05	2094-07-05 10:59:10 MST-0700	2486064.249426
                 శని:	 2095-11-04	2095-11-04 11:11:23 MST-0700	2486551.257907
                 బుధ:	 2097-06-05	2097-06-04 18:55:53 MST-0700	2487129.580477
                కేతు:	 2098-11-04	2098-11-04 05:38:51 MST-0700	2487647.026988
               శుక్ర:	 2099-06-05	2099-06-05 07:14:12 MST-0700	2487860.093198
               సూర్య:	 2101-02-04	2101-02-04 01:29:28 MST-0700	2488468.853799

In [337]:
i, j, antara = compute_antara_from(date_now_jd, dashas)
print("---- JD %s falls in %s dasa/%s bhukti -----" %
          (panchanga.jd_to_gregorian(date_now_jd), json_names['planets'][str(i)], json_names['planets'][str(j)]))
for k in antara:
    jd = antara[k]
    # greg = panchanga.jd_to_gregorian(jd)  # excludes min, sec
    greg = panchanga.swe.jdut1_to_utc(jd,flag=panchanga.swe.GREG_CAL)
    # date_antara = datetime.datetime(greg[0],greg[1],greg[2],round(greg[3]))
    date_antara = datetime.datetime(*[math.floor(d) for d in greg])
    date_antara_local = date_antara.astimezone(tzone_out) # local time
    y, m, d, h = panchanga.swe.revjul(jd) # utc time
    print('%20s:\t %04d-%02d-%02dT%03.3lf\t%s\t%.6lf' % (json_names['planets'][str(k)], y, m, d,h, date_antara_local.strftime(date_format), jd))

---- JD (2020, 5, 7, 0.0) falls in గురు dasa/రాహు bhukti -----
                రాహు:	 2020-03-11T2.742	2020-03-10 20:44:30 MDT-0600	2458919.614241
                గురు:	 2020-07-20T14.557	2020-07-20 08:33:24 MDT-0600	2459051.106531
                 శని:	 2020-11-14T11.726	2020-11-14 04:43:32 MST-0700	2459167.988566
                 బుధ:	 2021-04-02T6.864	2021-04-02 00:51:49 MDT-0600	2459306.785983
                కేతు:	 2021-08-04T11.355	2021-08-04 05:21:19 MDT-0600	2459430.973146
               శుక్ర:	 2021-09-24T14.617	2021-09-24 08:37:00 MDT-0600	2459482.109036
               సూర్య:	 2022-02-17T17.078	2022-02-17 10:04:40 MST-0700	2459628.211580
              చన్ద్ర:	 2022-04-02T13.016	2022-04-02 07:00:58 MDT-0600	2459672.042344
               మఙ్గల:	 2022-06-14T14.247	2022-06-14 08:14:48 MDT-0600	2459745.093616

In [338]:
tzone = pytz.timezone('America/Edmonton')

# utc time
now_utc = datetime.datetime.now() 
print(now_utc.strftime(date_format))

# convert utc to local time
now_local = now_utc.astimezone(tzone) 
print(now_local.strftime(date_format))

# convert local time to utc
now_utc = now_local.astimezone(pytz.utc) 
print(now_utc.strftime(date_format))

# convert local to different timezone
tzone = pytz.timezone('Asia/Kolkata')
date_destination = now_local.astimezone(tzone)
print(date_destination.strftime(date_format))

# converts given datetime's timezone to given, does not adjust time
date_local = tzone.localize(datetime.datetime(2020,5,5,18,43,00,00)) # local date time
print(date_local.strftime(date_format))
date_utc = date_local.astimezone(pytz.utc) # convert local time to utc
print(date_utc.strftime(date_format))

print('daylight savings check')
# checking Daylight savings
print('without DST')
tzone = pytz.timezone('America/Edmonton')
date_local = tzone.localize(datetime.datetime(2019,5,5,10,43,00,00)) # local date time
print(date_local.strftime(date_format))
date_utc = date_local.astimezone(pytz.utc) # convert local time to utc
print(date_utc.strftime(date_format))

print('with DST')
tzone = pytz.timezone('America/Edmonton')
date_local = tzone.localize(datetime.datetime(2019,12,5,10,43,00,00)) # local date time
print(date_local.strftime(date_format))
date_utc = date_local.astimezone(pytz.utc) # convert local time to utc
print(date_utc.strftime(date_format))

2020-05-07 13:56:13
2020-05-07 07:56:13 MDT-0600
2020-05-07 13:56:13 UTC+0000
2020-05-07 19:26:13 IST+0530
2020-05-05 18:43:00 IST+0530
2020-05-05 13:13:00 UTC+0000
daylight savings check
without DST
2019-05-05 10:43:00 MDT-0600
2019-05-05 16:43:00 UTC+0000
with DST
2019-12-05 10:43:00 MST-0700
2019-12-05 17:43:00 UTC+0000

In [339]:
date_now = datetime.datetime.now()
print(f'Date Now UTC: {date_now.strftime(date_format)}')
date_jd = panchanga.gregorian_to_jd(date_now)
# date_jd = 2458000.206792
print(f'Date Julian: {date_jd}')
date_jd = panchanga.local_time_to_jdut1(date_now.year,date_now.month,date_now.day,date_now.hour,date_now.minute,date_now.second)
print(f'Date Julian with Time: {date_jd}')

date_greg_tup = panchanga.jd_to_gregorian(date_jd)
date_greg = datetime.datetime(*[math.floor(d) for d in date_greg_tup])
print(f'Date Gregorian: {date_greg}')
date_greg_tup = panchanga.swe.jdut1_to_utc(date_jd,flag=panchanga.swe.GREG_CAL)
# print(date_greg_tup)
date_greg = datetime.datetime(*[math.floor(d) for d in date_greg_tup])
print(f'Date Gregorian SWE: {date_greg}')
date_jd = panchanga.gregorian_to_jd(date_greg)
print(f'Date Julian: {date_jd}')
date_rev_jd = panchanga.swe.revjul(date_jd)
print(f'Date RevJulian: {date_rev_jd}')

Date Now UTC: 2020-05-07 13:56:13
Date Julian: 2458976.5
Date Julian with Time: 2458977.080550529
Date Gregorian: 2020-05-07 13:00:00
Date Gregorian SWE: 2020-05-07 13:55:59
Date Julian: 2458976.5
Date RevJulian: (2020, 5, 7, 0.0)

In [340]:
d = panchanga.swe.julday(2015, 9, 25, 13 + 29/60. + 13/3600.)
print(d)
g = panchanga.swe.jdut1_to_utc(d,flag=panchanga.swe.GREG_CAL)
print(g)

2457291.0619560187
(2015, 9, 25, 13, 29, 12.788065373897552)